.boton {
    height: 3.43rem;
    width: 19rem;
    background-color: $color-boton;
    margin: 10% auto;
    text-align: center;
    &:hover {
        background-image: $gradiente-botones;
        p {
            color: $color-texto-boton-hover;
        }
    }
    p {
        text-transform: uppercase;
        position: relative;
        top: 25%;
        font-weight: 500;
        font-size: 1.14rem;
    }
}